@import url(//db.onlinewebfonts.com/c/767dd77d2eaa977b71f06f7a4199aeb6?family=Alte+Schwabacher+OSF);
@import url(//db.onlinewebfonts.com/c/4d55cdd95799412f780604799172151b?family=Diploma);
@import url(//db.onlinewebfonts.com/c/d85e6ab19860a0a1cc2c3d7a3eb7f98c?family=Monotype+Corsiva);
@import url(//db.onlinewebfonts.com/c/fe2027c27b6a24505f548c6fd2e1076d?family=Berlin+Sans+FB);
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* @font-face {font-family: "Alte Schwabacher BQ"; src: url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.eot"); src: url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.woff") format("woff"), url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/707a1ef016379e27a1f93c67118d64be.svg#Alte Schwabacher BQ") format("svg"); } */


/* @font-face {font-family: "Monotype Corsiva"; src: url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot"); src: url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff") format("woff"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.svg#Monotype Corsiva") format("svg"); }
 */


/* @font-face {font-family: "Berlin Sans FB"; src: url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot"); src: url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff") format("woff"), url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.svg#Berlin Sans FB") format("svg"); } */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    /* color: black; */
}

body {
    background-color: chartreuse;
}

.bodyTreball {
    width: auto;
    max-width: 600px;
    margin: auto;
    background-color: chartreuse;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid grey 3px;
    background-color: chartreuse;
    z-index: 1;
}

header h1,
header h2 {
    color: black;
    background-color: chartreuse;
}

header h1 {
    font-family: "Alte Schwabacher OSF", sans-serif;
    font-size: 3.5em;
}

main ul li a div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main img,
main h1 {
    width: auto;
    height: auto;
    /* margin: 5px; */
}

.container {
    width: 100%;
    text-align: center;
}

.containerInici {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

section {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.separador {
    margin: 10px 0;
}

article {
    /* margin: 0.625rem; */
    width: 40%;
    height: auto;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
}

article img {
    width: 70%;
    border: solid white 3px;
    border-radius: 10px;
}

#fotobotiga1907 {
    margin-top: 20px;
    width: auto;
    max-width: 400px;
    height: auto;
}


/* Centered text */

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titol {
    font-family: "Alte Schwabacher OSF", sans-serif;
    color: chartreuse;
    font-size: 6rem;
}

.subtitol {
    color: chartreuse;
}

.any1907 h2 {
    font-family: "Berlin Sans FB", sans-serif;
    font-weight: bold;
}

.subtitol.any1907 {
    font-family: "Berlin Sans FB", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

header .any1907 h2 {
    font-size: 1.5rem;
}

.monTe img {
    width: 70%;
    border-radius: 10px;
    border: solid whitesmoke 3px;
}


/* .fa-bars {
  font-size: 25px;
  color: black;
} */

.menuPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Pinyon Script', cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

footer {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    border-top: solid green 2px;
    display: flex;
    justify-content: space-around;
}

footer div {
    width: 45%;
}

footer a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all ease-in-out .5s;
}

footer a:hover {
    text-decoration-line: underline;
    font-size: 1.1rem;
}